<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Elevated</title>
</head>
<body>

  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#!" class="brand-logo left">Elevated</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/members">Account</a></li>
        <li><a href="/bevs">Beverages</a></li>
        <li><a href="/strains">Strains</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav grey darken-4" id="mobile-demo">
    <li><a class="grey-text text-darken-2" href="/members">Account</a></li>
    <li><a class="grey-text text-darken-2" href="/bevs">Beverages</a></li>
    <li><a class="grey-text text-darken-2" href="/strains">Strains</a></li>
    <li><a class="grey-text text-darken-2" href="/logout">Logout</a></li>
  </ul>

<div class="container">
  {{{ body }}}
</div>

<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

</body>
</html>
