<div class="row">
  <div class="col s12">
    <div class="card grey darken-4">
      <div class="card-content">
        <span class="card-title">Review</span>
        <p>
          <strong>ID</strong>: {{example.id}}</p>
        <p>
        <p>
          <strong>Text</strong>: {{example.text}}</p>
        <p>
          <strong>Description:</strong> {{example.description}}</p>
          <a href="/">← Back To Home</a>
      </div>
    </div>
  </div>
</div>
