<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix" action="POST">
          <div class="input-field">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="grey-text validate" placeholder="Enter Example Text">
          </div>
          <div class="input-field">
            <label for="example-description">Example Description</label>
            <textarea class="materialize-textarea grey-text validate" id="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list">
          {{#each examples}}
          <li data-id="{{this.id}}">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <a class="btn-small material-icons"><i class="material-icons">close</i></a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
