<h3 class="grey-text">Login Form</h3>
<form class="login">
  <div class="input-field">
    <label for="email-input" class="grey-text">Email address</label>
    <input type="email" class="grey-text validate" id="email-input" placeholder="Email">
  </div>
  <div class="input-field">
    <label for="password-input" class="grey-text">Password</label>
    <input type="password" class="grey-text validate" id="password-input" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Login</button>
</form>
<br />
<p>Or sign up <a href="/">here</a></p>
<script src="/js/login.js"></script>
