<h3 class="grey-text">Signup Form</h3>
<form class="signup">
  <div class="input-field">
    <label for="email-input" class="grey-text">Email address</label>
    <input type="email" class="grey-text validate" id="email-input" placeholder="Email">
  </div>
  <div class="input-field">
    <label for="password-input" class="grey-text">Password</label>
    <input type="password" class="grey-text validate" id="password-input" placeholder="Password">
  </div>
    <div class="input-field">
    <label for="dob-input" class="grey-text">Date of Birth</label>
    <input type="text" class="grey-text validate" id="dob-input" placeholder="Date of Birth">
  </div>
  <button type="submit" class="btn btn-default">Sign Up</button>
</form>
<br />
<p>Or log in <a href="/login">here</a></p>
<script src="/js/signup.js"></script>
